body{
    background-color:white;
    margin: 0%;
}

header{
    width: 100%;
    height: 250px;
}

.contenedor-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid white;
    background: linear-gradient(45deg, BLACK,crimson,BLACK);
    position: relative;
}

.imagen {
    border-radius: 50%;
    transform: translateY(50%);
    padding: 5px;
    width: 150px;
    background-color: white;
}

.cont-info{
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color: crimson;
    text-align: center;
}

.email, .nacimiento, .telefono, .password, .direccion{
    display: none;
}
.cont-iconos{
    width: 70%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 12%;
    list-style: none;
    color: crimson;
}


.cont-iconos li:hover{
    border-bottom: 2px solid crimson;
    padding-bottom: 3px;
}